.modal {
  position: fixed;
  display: flex;  
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  /* z-index: -1; */
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.modal.showModal {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: var(--background);
}

.modal-header,
.modal-footer {
  text-align: center;
  padding: 10px;
}

.modal-title {
  display: inline-block;
  margin: 0;
  width: 90%;
}

.modal-close {
  display: inline-block;
  width: 10%;
  border: 0;
  background-color: transparent;
  color: var(--text-primary);
  cursor: pointer;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.edit-todo-name {
  display: block;
}

.edit-todo-checkbox {
  margin: 0;
  margin-right: 5px;
}

.edit-todo-duedate {
  display: block;
}
